<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>

    <p>Hello 👋,</p>

    <p>Thanks for your intrest in meeting <%= @customer.provider.full_name %>, we will reach out to you soon.</p>
    <br>
    <p>Best,</p>
    <p>Admin</p>
</body>

</html>